In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pylab as plt

In [4]:
EDA_df=pd.read_csv("../raw/raw_data.csv")
EDA_df

,Filter,ReportDate,TotalCases,CaseDelta,TotalTests,TestsDelta,PosTestPercent,PosPercentDiff,NegativeTests,NegDelta,...,pDeathAgeUnknown,pDeathGenMale,pDeathGenFemale,pDeathGenUnkn,pDeathAfrAmer,pDeathWhite,pDeathHispanic,pDeathAsian,pDeathOther,pDeathNotAvail
0,NaN,03/04/2020 03:00:00 PM,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,03/05/2020 03:00:00 PM,3,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,03/06/2020 03:00:00 PM,3,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,03/07/2020 03:00:00 PM,3,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,03/08/2020 02:00:00 PM,5,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578,NaN,10/03/2021 02:00:00 PM,536249,1092,13124215.0,36622.0,4.10,0.02,4219767.0,9493.0,...,0.0,120.0,111.0,0.0,86.0,114.0,19.0,11.0,1.0,0.0
579,NaN,10/04/2021 02:00:00 PM,537327,1078,13157036.0,32821.0,4.08,-0.02,4227735.0,7968.0,...,0.0,120.0,111.0,0.0,86.0,114.0,19.0,11.0,1.0,0.0
580,NaN,10/05/2021 02:00:00 PM,537976,649,13181280.0,24244.0,3.91,-0.17,4233671.0,5936.0,...,0.0,119.0,111.0,0.0,85.0,114.0,19.0,11.0,1.0,0.0
581,NaN,10/06/2021 02:00:00 PM,539053,1077,13217318.0,36037.0,3.91,0.00,4242669.0,8998.0,...,0.0,119.0,111.0,0.0,85.0,114.0,19.0,11.0,1.0,0.0
582,d,10/07/2021 02:00:00 PM,540451,1398,13264030.0,46713.0,3.89,-0.02,4253665.0,10996.0,...,0.0,119.0,111.0,0.0,85.0,114.0,19.0,11.0,1.0,0.0

In [5]:
EDA_df.shape

(583, 159)

In [7]:
EDA_df.head()

,Filter,ReportDate,TotalCases,CaseDelta,TotalTests,TestsDelta,PosTestPercent,PosPercentDiff,NegativeTests,NegDelta,...,pDeathAgeUnknown,pDeathGenMale,pDeathGenFemale,pDeathGenUnkn,pDeathAfrAmer,pDeathWhite,pDeathHispanic,pDeathAsian,pDeathOther,pDeathNotAvail
0,NaN,03/04/2020 03:00:00 PM,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,03/05/2020 03:00:00 PM,3,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,03/06/2020 03:00:00 PM,3,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,03/07/2020 03:00:00 PM,3,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,03/08/2020 02:00:00 PM,5,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
EDA_df.columns

Index(['Filter', 'ReportDate', 'TotalCases', 'CaseDelta', 'TotalTests',
       'TestsDelta', 'PosTestPercent', 'PosPercentDiff', 'NegativeTests',
       'NegDelta',
       ...
       'pDeathAgeUnknown', 'pDeathGenMale', 'pDeathGenFemale', 'pDeathGenUnkn',
       'pDeathAfrAmer', 'pDeathWhite', 'pDeathHispanic', 'pDeathAsian',
       'pDeathOther', 'pDeathNotAvail'],
      dtype='object', length=159)

In [10]:
EDA_df.nunique(axis=0)
EDA_df.describe().apply(lambda s: s.apply(lambda x: format(x, 'f')))

,TotalCases,CaseDelta,TotalTests,TestsDelta,PosTestPercent,PosPercentDiff,NegativeTests,NegDelta,bedsTotal,bedsAcute,...,pDeathAgeUnknown,pDeathGenMale,pDeathGenFemale,pDeathGenUnkn,pDeathAfrAmer,pDeathWhite,pDeathHispanic,pDeathAsian,pDeathOther,pDeathNotAvail
count,583.000000,583.000000,577.000000,576.000000,577.000000,556.000000,560.000000,559.000000,560.000000,560.000000,...,542.000000,541.000000,541.000000,538.000000,542.000000,542.000000,542.000000,542.000000,542.000000,542.000000
mean,259070.728988,927.017153,5691716.788562,23037.970486,6.058769,-0.041709,2229643.278571,7591.515206,829.903571,600.594643,...,1.035055,84.452865,84.131238,0.000000,61.352399,84.660517,13.326568,7.381919,0.271218,1.621771
std,182219.039712,740.585593,4395496.016899,13552.825088,5.476473,0.228488,1344714.231631,3744.256174,502.600847,371.601232,...,2.589733,22.932996,16.872599,0.000000,15.448423,19.073238,4.606753,2.354821,0.453230,2.651496
min,0.000000,0.000000,1.000000,7.000000,0.540000,-1.840000,9988.000000,838.000000,97.000000,66.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,85200.000000,441.500000,1245767.000000,12086.000000,3.300000,-0.110000,1007782.000000,4874.500000,410.750000,297.750000,...,0.000000,68.000000,75.000000,0.000000,54.000000,68.000000,10.000000,6.000000,0.000000,0.000000
50%,250808.000000,763.000000,5419999.000000,22317.500000,4.470000,-0.010000,2531974.000000,7069.000000,772.500000,564.000000,...,0.000000,88.000000,83.000000,0.000000,61.000000,88.500000,14.000000,7.000000,0.000000,1.000000
75%,455446.000000,1163.000000,10107961.000000,32481.500000,6.530000,0.070000,3434777.750000,10065.000000,1220.500000,867.750000,...,0.000000,99.000000,93.000000,0.000000,71.000000,98.000000,15.000000,8.000000,1.000000,2.000000
max,540451.000000,3792.000000,13264030.000000,66618.000000,26.880000,1.040000,4253665.000000,19688.000000,1952.000000,1496.000000,...,15.000000,120.000000,111.000000,0.000000,86.000000,114.000000,19.000000,11.000000,2.000000,15.000000

In [14]:
df_cleaned = EDA_df.dropna(axis=0)

In [ ]:
sns.pairplot(EDA_df)