# Shawna Bilodeau

## Research question/interests

Is there a specific overlap between gender and a specific age that is more likely to result in death?

## Milestone 3
### Task 3: Method Chaining and writing python

In [1]:
#Import Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pylab as plt
#Removing limit on how many columns I can see
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
#Importing Functions
from scripts.project_functions1 import *

In [56]:
df1 = (
    pd.read_csv("../data/raw/raw_data.csv")
    .iloc[:, np.r_[1,2,46:58,93:105]]
    .iloc[36:,]
    .drop(columns="caseAgeUnknown")
    .drop(columns="deathAgeUnknown")
)

In [57]:
try:
    df2=df_percentage(df1,'case0to9','death0to9','perc0to9')
    df2=df_percentage(df1,'case10to19','death10to19','perc10to19')
    df2=df_percentage(df1,'case20to29','death20to29','perc20to29')
    df2=df_percentage(df1,'case30to39','death30to39','perc30to39')
    df2=df_percentage(df1,'case40to49','death40to49','perc40to49')
    df2=df_percentage(df1,'case50to59','death50to59','perc50to59')
    df2=df_percentage(df1,'case60to69','death60to69','perc60to69')
    df2=df_percentage(df1,'case70to79','death70to79','perc70to79')
    df2=df_percentage(df1,'case80plus','death80plus','perc80plus')
except:
    print("Something wrong in the ages")
try:
    df2=df_percentage(df1,'genMale','deathGenMale','percMale')
    df2=df_percentage(df1,'genFemale','deathGenFemale','percFemale')
except:
    print("Something wring in the genders")

In [69]:
df3=df2.iloc[:, np.r_[24:35]] #Making a third dataframe for easier visualization
df3.head()

,perc0to9,perc10to19,perc20to29,perc30to39,perc40to49,perc50to59,perc60to69,perc70to79,perc80plus,percMale,percFemale
36,0.0,0.0,0.000000,0.003717,0.003493,0.012480,0.030668,0.071667,0.139610,0.029668,0.015964
37,0.0,0.0,0.000000,0.004149,0.003903,0.014075,0.030447,0.074453,0.156334,0.031726,0.018385
38,0.0,0.0,0.001170,0.006074,0.003539,0.014058,0.036810,0.075297,0.161731,0.034046,0.020531
39,0.0,0.0,0.001104,0.006475,0.003324,0.014925,0.042079,0.079657,0.158635,0.035912,0.022307
40,0.0,0.0,0.001031,0.005956,0.003054,0.014436,0.044039,0.083238,0.157895,0.035323,0.024219

### Task 4: Visualization