# Shawna Bilodeau

## Research question/interests

For now, I have some interest in if/how ethnicity, age, and gender impact the mortality rate.

In [4]:
#Import Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pylab as plt

In [3]:
sdata = pd.read_csv("../data/raw/raw_data.csv")
sdata = {.drop(sdata.columns[0],axis=1)
         .drop(sdata.columns[3-45],axis=1)
         .drop(sdata.columns[66-92],axis=1)
         .drop(sdata.columns[112-159],axis=1)}

SyntaxError: invalid syntax (<ipython-input-3-9e66f04b0084>, line 2)

,Filter,ReportDate,TotalCases,CaseDelta,TotalTests,TestsDelta,PosTestPercent,PosPercentDiff,NegativeTests,NegDelta,...,pDeathAgeUnknown,pDeathGenMale,pDeathGenFemale,pDeathGenUnkn,pDeathAfrAmer,pDeathWhite,pDeathHispanic,pDeathAsian,pDeathOther,pDeathNotAvail
0,NaN,03/04/2020 03:00:00 PM,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,03/05/2020 03:00:00 PM,3,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,03/06/2020 03:00:00 PM,3,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,03/07/2020 03:00:00 PM,3,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,03/08/2020 02:00:00 PM,5,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
sdata = sdata.drop(columns="Filter")

,ReportDate,TotalCases,CaseDelta,TotalTests,TestsDelta,PosTestPercent,PosPercentDiff,NegativeTests,NegDelta,bedsTotal,...,pDeathAgeUnknown,pDeathGenMale,pDeathGenFemale,pDeathGenUnkn,pDeathAfrAmer,pDeathWhite,pDeathHispanic,pDeathAsian,pDeathOther,pDeathNotAvail
0,03/04/2020 03:00:00 PM,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03/05/2020 03:00:00 PM,3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,03/06/2020 03:00:00 PM,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,03/07/2020 03:00:00 PM,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,03/08/2020 02:00:00 PM,5,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
578,10/03/2021 02:00:00 PM,536249,1092,13124215.0,36622.0,4.10,0.02,4219767.0,9493.0,762.0,...,0.0,120.0,111.0,0.0,86.0,114.0,19.0,11.0,1.0,0.0
579,10/04/2021 02:00:00 PM,537327,1078,13157036.0,32821.0,4.08,-0.02,4227735.0,7968.0,763.0,...,0.0,120.0,111.0,0.0,86.0,114.0,19.0,11.0,1.0,0.0
580,10/05/2021 02:00:00 PM,537976,649,13181280.0,24244.0,3.91,-0.17,4233671.0,5936.0,774.0,...,0.0,119.0,111.0,0.0,85.0,114.0,19.0,11.0,1.0,0.0
581,10/06/2021 02:00:00 PM,539053,1077,13217318.0,36037.0,3.91,0.00,4242669.0,8998.0,792.0,...,0.0,119.0,111.0,0.0,85.0,114.0,19.0,11.0,1.0,0.0
582,10/07/2021 02:00:00 PM,540451,1398,13264030.0,46713.0,3.89,-0.02,4253665.0,10996.0,792.0,...,0.0,119.0,111.0,0.0,85.0,114.0,19.0,11.0,1.0,0.0