# Shawna Bilodeau

## Research question/interests

For now, I have some interest in if/how ethnicity, age, and gender impact the mortality rate.

In [52]:
#Import Libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pylab as plt
#Removing limit on how many columns I can see
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
#Importing Functions
##Doesn't work

In [64]:
df = pd.read_csv("../data/raw/raw_data.csv")
df_clean = df.iloc[:, np.r_[1,2,46:65,93:111]]
df_clean.head()

,ReportDate,TotalCases,case0to9,case10to19,case20to29,case30to39,case40to49,case50to59,case60to69,case70to79,case80plus,caseAgeUnknown,genMale,genFemale,genUnkn,caseAfrAmer,caseWhite,caseHispanic,caseAsian,caseOther,caseNotAVail,death0to9,death10to19,death20to29,death30to39,death40to49,death50to59,death60to69,death70to79,death80plus,deathAgeUnknown,deathGenMale,deathGenFemale,deathGenUnkn,deathAfrAmer,deathWhite,deathHispanic,deathAsian,deathOther
0,03/04/2020 03:00:00 PM,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03/05/2020 03:00:00 PM,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,03/06/2020 03:00:00 PM,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,03/07/2020 03:00:00 PM,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,03/08/2020 02:00:00 PM,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
def df_process(df,column1,column2):
    """
    processing the data so that we get the percentage of people who died among that specific demografic
    
    parameters
    ---------
    df: dataframe you're pulling from
    column1: The living column
    column2: The dead column
    
    Results
    -------
    Fixed dataframe so that only the percentage of the two columns remain
    """
    df[{column1}] = df[{column2}]/df[{column1}]
    df = df.drop([{column1},{column2}], axis='columns')
    return df.head()

In [75]:
df_process(df_clean,'case0to9','death0to9')

ValueError: Can only compare identically-labeled DataFrame objects