In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pylab as plt

In [3]:
EDA_df=pd.read_csv("../../data/raw/raw_data.csv")

In [4]:
EDA_df.shape

(583, 159)

In [5]:
EDA_df.head()

,Filter,ReportDate,TotalCases,CaseDelta,TotalTests,TestsDelta,PosTestPercent,PosPercentDiff,NegativeTests,NegDelta,...,pDeathAgeUnknown,pDeathGenMale,pDeathGenFemale,pDeathGenUnkn,pDeathAfrAmer,pDeathWhite,pDeathHispanic,pDeathAsian,pDeathOther,pDeathNotAvail
0,NaN,03/04/2020 03:00:00 PM,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,03/05/2020 03:00:00 PM,3,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,03/06/2020 03:00:00 PM,3,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,03/07/2020 03:00:00 PM,3,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,03/08/2020 02:00:00 PM,5,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
EDA_df.columns[18:59]

Index(['ALLE', 'ANNE', 'BALT', 'BCITY', 'CALV', 'CARO', 'CARR', 'CECI', 'CHAR',
       'DORC', 'FRED', 'GARR', 'HARF', 'HOWA', 'KENT', 'MONT', 'PRIN', 'QUEE',
       'SOME', 'STMA', 'TALB', 'WASH', 'WICO', 'WORC', 'UNKN', 'under18',
       '18to64', '65plus', 'case0to9', 'case10to19', 'case20to29',
       'case30to39', 'case40to49', 'case50to59', 'case60to69', 'case70to79',
       'case80plus', 'caseAgeUnknown', 'genMale', 'genFemale', 'genUnkn'],
      dtype='object')

In [7]:
#removing column limit
#pd.set_option("display.max_columns", None)

In [8]:
#going to drop all state and gender and age data
df_cleaned = EDA_df.drop(EDA_df.columns[18:59],axis=1)
#dropping filter column
df_cleaned.head()

,Filter,ReportDate,TotalCases,CaseDelta,TotalTests,TestsDelta,PosTestPercent,PosPercentDiff,NegativeTests,NegDelta,...,pDeathAgeUnknown,pDeathGenMale,pDeathGenFemale,pDeathGenUnkn,pDeathAfrAmer,pDeathWhite,pDeathHispanic,pDeathAsian,pDeathOther,pDeathNotAvail
0,NaN,03/04/2020 03:00:00 PM,0,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,03/05/2020 03:00:00 PM,3,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,03/06/2020 03:00:00 PM,3,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,03/07/2020 03:00:00 PM,3,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,03/08/2020 02:00:00 PM,5,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:

df_cleaned = df_cleaned.drop(EDA_df.columns[0],axis=1)

In [10]:

df_cleaned=df_cleaned.drop(df_cleaned.columns[67:105],axis=1)
df_cleaned.head()

,ReportDate,TotalCases,CaseDelta,TotalTests,TestsDelta,PosTestPercent,PosPercentDiff,NegativeTests,NegDelta,bedsTotal,...,pDeathAgeUnknown,pDeathGenMale,pDeathGenFemale,pDeathGenUnkn,pDeathAfrAmer,pDeathWhite,pDeathHispanic,pDeathAsian,pDeathOther,pDeathNotAvail
0,03/04/2020 03:00:00 PM,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03/05/2020 03:00:00 PM,3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,03/06/2020 03:00:00 PM,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,03/07/2020 03:00:00 PM,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,03/08/2020 02:00:00 PM,5,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_cleaned=df_cleaned.drop(df_cleaned.columns[26:64],axis=1)
df_cleaned.head()
#checking which columns are are left

,ReportDate,TotalCases,CaseDelta,TotalTests,TestsDelta,PosTestPercent,PosPercentDiff,NegativeTests,NegDelta,bedsTotal,...,pDeathAgeUnknown,pDeathGenMale,pDeathGenFemale,pDeathGenUnkn,pDeathAfrAmer,pDeathWhite,pDeathHispanic,pDeathAsian,pDeathOther,pDeathNotAvail
0,03/04/2020 03:00:00 PM,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03/05/2020 03:00:00 PM,3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,03/06/2020 03:00:00 PM,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,03/07/2020 03:00:00 PM,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,03/08/2020 02:00:00 PM,5,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_cleaned.columns
#seing if remaining columns are manageable

Index(['ReportDate', 'TotalCases', 'CaseDelta', 'TotalTests', 'TestsDelta',
       'PosTestPercent', 'PosPercentDiff', 'NegativeTests', 'NegDelta',
       'bedsTotal', 'bedsAcute', 'bedsICU', 'bedsDelta', 'total_hospitalized',
       'hospitalizedDelta', 'total_released', 'releasedDelta', 'caseAfrAmer',
       'caseWhite', 'caseHispanic', 'caseAsian', 'caseOther', 'caseNotAVail',
       'deaths', 'deathsDelta', 'deathDOD', 'deathAfrAmer', 'deathWhite',
       'deathHispanic', 'pDeath70to79', 'pDeath80plus', 'pDeathAgeUnknown',
       'pDeathGenMale', 'pDeathGenFemale', 'pDeathGenUnkn', 'pDeathAfrAmer',
       'pDeathWhite', 'pDeathHispanic', 'pDeathAsian', 'pDeathOther',
       'pDeathNotAvail'],
      dtype='object')

In [ ]:
sns.pairplot(df_cleaned)

In [ ]:
df_cleaned.boxplot('TotalCases')

In [ ]:
df_cleaned.plot(kind='scatter', x='deaths', y='TotalCases')

In [ ]:
df_cleaned.plot(kind='scatter', x='deaths', y='PosTestPercent')

In [ ]:
EDA_df.columns

In [ ]:
print(EDA_df.columns.tolist())

In [ ]:
EDA_df.drop('ALLE', 'ANNE', 'BALT', 'BCITY', 'CALV', 'CARO', 'CARR', 'CECI', 'CHAR', 'DORC', 'FRED', 'GARR', 'HARF', 'HOWA', 'KENT', 'MONT', 'PRIN', 'QUEE', 'SOME', 'STMA', 'TALB', 'WASH', 'WICO', 'WORC', 'UNKN')

In [ ]:
#can not drop by name